/*
  _____           _     ____  _         _           
 |  ___|__  _ __ | |_  / ___|| |_ _   _| | ___  ___ 
 | |_ / _ \| '_ \| __| \___ \| __| | | | |/ _ \/ __|
 |  _| (_) | | | | |_   ___) | |_| |_| | |  __/\__ \
 |_|  \___/|_| |_|\__| |____/ \__|\__, |_|\___||___/
                                  |___/             
*/
.justify-text{
    text-align: justify;
}

.font-klein{
    font-size: 15px !important;
}

.font-mittel{
    font-size: 20px !important;
}

.font-groB{
    font-size: 25px !important;
}

.font-white{
    color: #FFFFFF !important;
}

.font-black{
    color: #010712 !important;
}

.font-black-light{
    color: #24262D !important;
}

/*
   ____            _             _     ____  _         _           
  / ___|___  _ __ | |_ ___ _ __ | |_  / ___|| |_ _   _| | ___  ___ 
 | |   / _ \| '_ \| __/ _ \ '_ \| __| \___ \| __| | | | |/ _ \/ __|
 | |__| (_) | | | | ||  __/ | | | |_   ___) | |_| |_| | |  __/\__ \
  \____\___/|_| |_|\__\___|_| |_|\__| |____/ \__|\__, |_|\___||___/
                                                 |___/             
*/

/* Night Mode */
.night-mode{
    background-color: #24262D !important;
    border-color: #010712 !important;
    color: #FFFFFF;
}

/* Center divs (etc.) with this class */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Background & Border Colors */
.background-black{
    background-color: #010712 !important;
}

.background-black-light{
    background-color: #24262D !important;
}
.background-steel{
    background-color: #13171F !important;
}

.border-black{
    border-color: #010712 !important;
}

.border-black-light{
    border-color: #24262D !important;
}

.border-steel{
    border-color: #13171F !important;
}

/* Buttons */
.busBtn.button.activated{
    color: #FFFFFF;
    background-color: #961227 !important;
}

.setStatus{
    background-color: red;   
}


/*
   ___                               _ _   _               ___            _        ____  _         _           
  / _ \__   _____ _ ____      ___ __(_) |_| |_ ___ _ __   |_ _|___  _ __ (_) ___  / ___|| |_ _   _| | ___  ___ 
 | | | \ \ / / _ \ '__\ \ /\ / / '__| | __| __/ _ \ '_ \   | |/ _ \| '_ \| |/ __| \___ \| __| | | | |/ _ \/ __|
 | |_| |\ V /  __/ |   \ V  V /| |  | | |_| ||  __/ | | |  | | (_) | | | | | (__   ___) | |_| |_| | |  __/\__ \
  \___/  \_/ \___|_|    \_/\_/ |_|  |_|\__|\__\___|_| |_| |___\___/|_| |_|_|\___| |____/ \__|\__, |_|\___||___/
                                                                                             |___/             
*/
.bar{
    background-image: none !important;
}

.card, .list-inset{
    border-radius: 0px !important;
    background-color: rgba(0,0,0,0) !important;
}

/* Fixes strange bug | slide-box's dots would flicker when scrolling */
.slider-pager {
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
}

/* Tab links on the bottom (IOS) or top (Android) of the app */
.tabs{
    color: #FFFFFF !important;
    background-color: #13171F !important;
    background-size: 100% 0px !important;
}

/* Tab links selected state */
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    background-color: #961227 !important;
}