/*
  _____           _     ____  _         _           
 |  ___|__  _ __ | |_  / ___|| |_ _   _| | ___  ___ 
 | |_ / _ \| '_ \| __| \___ \| __| | | | |/ _ \/ __|
 |  _| (_) | | | | |_   ___) | |_| |_| | |  __/\__ \
 |_|  \___/|_| |_|\__| |____/ \__|\__, |_|\___||___/
                                  |___/             
*/
.justify-text{
  text-align: justify;
}

.font-klein{
  font-size: 15px;
}

.font-mittel{
  font-size: 20px;
}

.font-groB{
  font-size: 25px;
}

.font-white{
  color: #FFFFFF !important;
}

/* Placeholder text color for input boxes */
::-webkit-input-placeholder {
   color: #FFFFFF !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #FFFFFF !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFFFF !important;  
}

:-ms-input-placeholder {  
   color: #FFFFFF !important;  
}

/*
   ____            _             _     ____  _         _           
  / ___|___  _ __ | |_ ___ _ __ | |_  / ___|| |_ _   _| | ___  ___ 
 | |   / _ \| '_ \| __/ _ \ '_ \| __| \___ \| __| | | | |/ _ \/ __|
 | |__| (_) | | | | ||  __/ | | | |_   ___) | |_| |_| | |  __/\__ \
  \____\___/|_| |_|\__\___|_| |_|\__| |____/ \__|\__, |_|\___||___/
                                                 |___/             
*/

/* Center divs (etc.) with this class */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Background & Border Colors */
.background-burgandy{
  background-color: #8C4646 !important;
}

.background-flame{
  background-color: #D96459 !important;
}
.background-grass{
  background-color: #61B594 !important;
}

.border-burgandy{
  border-color: #8C4646 !important;
}

.border-flame{
  border-color: #D96459 !important;
}

.border-grass{
  border-color: #61B594 !important;
}


/*
   ___                               _ _   _               ___            _        ____  _         _           
  / _ \__   _____ _ ____      ___ __(_) |_| |_ ___ _ __   |_ _|___  _ __ (_) ___  / ___|| |_ _   _| | ___  ___ 
 | | | \ \ / / _ \ '__\ \ /\ / / '__| | __| __/ _ \ '_ \   | |/ _ \| '_ \| |/ __| \___ \| __| | | | |/ _ \/ __|
 | |_| |\ V /  __/ |   \ V  V /| |  | | |_| ||  __/ | | |  | | (_) | | | | | (__   ___) | |_| |_| | |  __/\__ \
  \___/  \_/ \___|_|    \_/\_/ |_|  |_|\__|\__\___|_| |_| |___\___/|_| |_|_|\___| |____/ \__|\__, |_|\___||___/
                                                                                             |___/             
*/

ion-content{
  background-color: #D96459 !important;
}

.bar{
  background-image: none !important;
}

.card, .list-inset{
  border-radius: 0px !important;
  background-color: rgba(0,0,0,0) !important;
}

/* Fixes strange bug | slide-box's dots would flicker when scrolling */
.slider-pager {
-webkit-transform: translateZ(0) !important;
transform: translateZ(0) !important;
}

.tabs{
  color: #FFFFFF !important;
  background-color: #8C4646 !important;
  background-size: 100% 0px !important;
}