/*
  _____           _     ____  _         _           
 |  ___|__  _ __ | |_  / ___|| |_ _   _| | ___  ___ 
 | |_ / _ \| '_ \| __| \___ \| __| | | | |/ _ \/ __|
 |  _| (_) | | | | |_   ___) | |_| |_| | |  __/\__ \
 |_|  \___/|_| |_|\__| |____/ \__|\__, |_|\___||___/
                                  |___/             
*/
.justify-text{
  text-align: justify;
}

.font-klein{
  font-size: 15px;
}

.font-mittel{
  font-size: 20px;
}

.font-groB{
  font-size: 25px;
}

.font-white{
  color: #FFFFFF !important;
}

/*
  _   _             _             _   _               ____  _         _           
 | \ | | __ ___   _(_) __ _  __ _| |_(_) ___  _ __   / ___|| |_ _   _| | ___  ___ 
 |  \| |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \  \___ \| __| | | | |/ _ \/ __|
 | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |  ___) | |_| |_| | |  __/\__ \
 |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_| |____/ \__|\__, |_|\___||___/
                      |___/                                     |___/                                                                                 
*/
.custom-tab-header{
	border-color: #0D0F1B !important;
	background-color: #0D0F1B !important;
}

/*
   ____            _             _     ____  _         _           
  / ___|___  _ __ | |_ ___ _ __ | |_  / ___|| |_ _   _| | ___  ___ 
 | |   / _ \| '_ \| __/ _ \ '_ \| __| \___ \| __| | | | |/ _ \/ __|
 | |__| (_) | | | | ||  __/ | | | |_   ___) | |_| |_| | |  __/\__ \
  \____\___/|_| |_|\__\___|_| |_|\__| |____/ \__|\__, |_|\___||___/
                                                 |___/             
*/

/* Center divs (etc.) with this class */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*
   ___                               _ _   _               ___            _        ____  _         _           
  / _ \__   _____ _ ____      ___ __(_) |_| |_ ___ _ __   |_ _|___  _ __ (_) ___  / ___|| |_ _   _| | ___  ___ 
 | | | \ \ / / _ \ '__\ \ /\ / / '__| | __| __/ _ \ '_ \   | |/ _ \| '_ \| |/ __| \___ \| __| | | | |/ _ \/ __|
 | |_| |\ V /  __/ |   \ V  V /| |  | | |_| ||  __/ | | |  | | (_) | | | | | (__   ___) | |_| |_| | |  __/\__ \
  \___/  \_/ \___|_|    \_/\_/ |_|  |_|\__|\__\___|_| |_| |___\___/|_| |_|_|\___| |____/ \__|\__, |_|\___||___/
                                                                                             |___/             
*/

ion-content{
  background-color: #2A2B36 !important;
}

.side-menu-gradient{
  background: linear-gradient(to bottom left, #0D0F1B, #2A2B36) !important;
}

.card, .list-inset{
  border-radius: 0px !important;
  background-color: rgba(0,0,0,0) !important;
}

/* Bus image in the side menu */
.profile-image img{
  border: none !important;
}

/* Fixes strange bug | slide-box's dots would flicker when scrolling */
.slider-pager {
-webkit-transform: translateZ(0) !important;
transform: translateZ(0) !important;
}

.tabs{
  color: #FFFFFF !important;
  background-color: #0D0F1B !important;
  background-size: 100% 0px !important;
}

/*-------------------------------------------------------------------------------------------------*/
.platform-ios .manual-ios-statusbar-padding{
        padding-top:20px;
      }
      .manual-remove-top-padding{
        padding-top:0px; 
      }
      .manual-remove-top-padding .scroll{
        padding-top:0px !important;
      }
      ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
        margin-left:-10px;
        margin-right:-10px;
      }
      ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
        border-radius:0px;
        border-left:0px;
        border-right: 0px;
      }
      .show-list-numbers-and-dots ul{
        list-style-type: disc;
        padding-left:40px;
      }
      .show-list-numbers-and-dots ol{
        list-style-type: decimal;
        padding-left:40px;
      }