<!--	<ion-side-menus enable-menu-with-back-views="false">

	  <ion-side-menu-content>

		<ion-nav-bar class="bar-assertive custom-assertive-header header-shadow" align-title="center">
		  <ion-nav-back-button></ion-nav-back-button>
		  <ion-nav-title><img height="45" src="img/SuighSios-logo.png"></ion-nav-title>

		  <ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
		  </ion-nav-buttons>
		</ion-nav-bar>


		<ion-nav-view></ion-nav-view>
	  </ion-side-menu-content>
	  

	  <ion-side-menu side="right" id="side-menu21">

		<ion-content padding="false" style="top:0px !important;" class="side-menu-right side-menu-gradient">
		  <div class="spacer" style="width: 268px; height: 36px;"></div>
		  <div class="profile-image">
			<img src="img/5iX6nVB8QhmhdOrj9sYD_busIcon.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
		  </div>
		  <h2 id="menu-heading1" style="color:#FFFFFF;font-weight:300;text-align:center;">Dear User</h2>
		  <div class="spacer" style="width: 268px; height: 19px;"></div>
		  <ion-list id="menu-list1">
			<ion-item class="item-icon-right  side-menu-item" id="menu-list-item1" ui-sref="menu.sideMenu_stopNumber" menu-close="">
			  <i class="icon ion-android-pin"></i>Stop number</ion-item>
			<ion-item class="item-icon-right  side-menu-item" id="menu-list-item2" ui-sref="menu.sideMenu_seats" menu-close="">
			  <i class="icon ion-android-bus"></i>Seats</ion-item>
			<ion-item class="item-icon-right  side-menu-item" id="menu-list-item3" ui-sref="menu.sideMenu_routeMap" menu-close="">
			  <i class="icon ion-android-map"></i>Route map</ion-item>
			<ion-item class="item-icon-right  side-menu-item" id="menu-list-item4" ui-sref="menu.sideMenu_contactUs" menu-close="">
			  <i class="icon ion-ios-chatboxes-outline"></i>Contact us</ion-item>
		  </ion-list>
		</ion-content>
	  </ion-side-menu>
	</ion-side-menus>-->