<div class="modal">
 <ion-header-bar class="item-input-inset" ng-class="{'night-mode' : isActive}">
    <button class="button button-clear" ng-click="modal.hide(); clearInterval();">Back</button>
    <ion-title ng-class="{'font-white' : isActive}">{{route}}</ion-title>
  </ion-header-bar>
  <ion-content ng-class="{'background-black' : isActive}">
    <ul class="list">
      <!-- Driver counter with controls -->
      <li class="item item-divider" ng-class="{'background-black border-black font-white' : isActive}">Capacity Controls</li>
      <li class="item item-text-wrap text-center font-groB" ng-class="{'night-mode border-steel' : isActive}">
        <span>{{count}}/{{capacity}}</span>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <!-- Button to decrease seat count -->
            <button class="button button-block button-large busBtn" ng-class="{'background-steel font-white' : isActive}" ng-click="minus()">
              <i class="ion-minus"></i>
            </button>
          </div>
          
          <div class="col"></div>
          
          <div class="col">
            <!-- Button to increase seat count -->
            <button class="button button-block button-large busBtn" ng-class="{'background-steel font-white' : isActive}" ng-click="plus()">
              <i class="ion-plus"></i>
            </button>
          </div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <!-- Button to reset seat count -->
            <button class="button button-block ion-icon ion-loop button-large busBtn" ng-class="{'background-steel font-white' : isActive}" ng-click="reset()"></button>
          </div>
          <div class="col"></div>
        </div>
      </li>
      
      <li class="item item-divider" ng-class="{'background-black border-black font-white' : isActive}">Status Controls</li>
      <!-- Set buses status -->
      <li class="item item-text-wrap text-center font-groB" ng-class="{'night-mode border-steel' : isActive}">
        <div class="row">
          <div class="col">
            <!-- Button to decrease seat count -->
            <button class="button button-block button-large busBtn" style="border-radius: 50px;" ng-class="{'background-steel font-white' : isActive}" ng-click="option1();">
              On Time
            </button>
          </div>
          
          <div class="col">
            <!-- Button to increase seat count -->
            <button class="button button-block button-large busBtn" style="border-radius: 50px;" ng-class="{'background-steel font-white' : isActive}" ng-click="option2();">
              Late
            </button>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
</div>





























