<ion-tabs>

  <!-- Stop number Tab -->
  <ion-tab title="Stop number" icon="ion-ios-flag" ui-sref="tab.stopNumber">
    <ion-nav-view name="tab-stopNumber"></ion-nav-view>
  </ion-tab>
	
  <!-- Dashboard Tab -->	
  <ion-tab title="Seats" icon="ion-android-bus" ui-sref="tab.seats">
    <ion-nav-view name="tab-seats"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Route" icon="ion-map" ui-sref="tab.route">
    <ion-nav-view name="tab-route"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Contact" icon="ion-help-buoy" ui-sref="tab.contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>

</ion-tabs>
